<agm-map [latitude]="lat" [longitude]="lng" [minZoom]="4">
  <agm-polygon-with-bounds [clickable]="true" [paths]="polygon" geodesic="true" [polyDraggable]="true" [editable]="true" (polyPathsChange)="onPolyPathsChange($event)"></agm-polygon-with-bounds>
  <agm-polygon-with-bounds [clickable]="true" [paths]="polygon" geodesic="true" [polyDraggable]="true" [editable]="true" (polyPathsChange)="onPolyPathsChange($event)"></agm-polygon-with-bounds>
  <agm-polygon-with-bounds [clickable]="true" [paths]="polygon" geodesic="true" [polyDraggable]="true" [editable]="true" (polyPathsChange)="onPolyPathsChange($event)"></agm-polygon-with-bounds>
</agm-map>